workflows/psa-lebensende-warnung.json
{
  "updatedAt": "2026-03-27T18:47:18.206Z",
  "createdAt": "2026-02-20T20:19:31.129Z",
  "id": "VBFv9Vg4F5dZwmqI",
  "name": "PSA: Lebensende-Warnung",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Montags 08:00 Uhr",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "url": "https://portal.ofwietmarschen.org/n8n/ddb8e2802f6f8fb9382a5e2fb01f48a6654e1eb33279792aee2c242160fd66e7/postgrest/Ausruestungstuecke",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "Lebensende_Datum",
              "value": "lt.{{ $now.plus(180, 'days').toISODate() }}"
            },
            {
              "name": "Status",
              "value": "neq.Ausgesondert"
            },
            {
              "name": "select",
              "value": "Kamerad,Ausruestungstyp,Seriennummer,Herstellungsdatum,Lebensende_Datum,Status"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch_old",
      "name": "PostgREST: Ausrüstung nahe Lebensende",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has_items",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check_results",
      "name": "Einträge vorhanden?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json;\nconst heute = new Date();\n\nlet zeilen = items.map(item => {\n  const ablauf = new Date(item.Lebensende_Datum);\n  const tage = Math.ceil((ablauf - heute) / (1000 * 60 * 60 * 24));\n  const ablaufStr = ablauf.toLocaleDateString('de-DE');\n  const warnLevel = tage <= 0 ? '🔴 UEBERFAELLIG' : tage <= 30 ? '🟠 DRINGEND' : '🟡 IN KUERZE';\n  const ort = item.Kamerad ? 'Ausgegeben an: ' + item.Kamerad : 'Im Lager';\n  return warnLevel + ' ' + item.Ausruestungstyp + ' (SN: ' + item.Seriennummer + ')\\n  '\n    + ort + ' - Lebensende: ' + ablaufStr + ' ('\n    + (tage > 0 ? 'in ' + tage + ' Tagen' : Math.abs(tage) + ' Tage ueberfaellig') + ')';\n}).join('\\n\\n');\n\nconst datum = heute.toLocaleDateString('de-DE');\n\nreturn [{\n  json: {\n    subject: '[Ihre Feuerwehr] PSA Lebensende - ' + items.length + ' Stueck zur Aussonderung',\n    html: '<h2>PSA naehert sich dem Lebensende</h2>'\n      + '<p>Folgende Ausruestungsstuecke erreichen in den naechsten 6 Monaten ihr Lebensende und muessen ausgesondert werden:</p>'\n      + '<pre>' + zeilen + '</pre>'\n      + '<p>Bitte Ersatzbeschaffung einleiten und Ausruestung in der PSA-Verwaltung als &quot;Ausgesondert&quot; markieren.</p>'\n      + '<p><b>Rechtsgrundlage:</b> §11 DGUV Vorschrift 49 - Feuerwehren</p>'\n      + '<p><a href=\"https://IHRE-PSA-URL\">PSA-Verwaltung oeffnen</a></p>'\n      + '<p><small>Stand: ' + datum + ' | FF Musterort - Bekleidungsverwaltung</small></p>'\n  }\n}];"
      },
      "id": "format_email",
      "name": "E-Mail Text erstellen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        208
      ]
    },
    {
      "parameters": {
        "fromEmail": "benjamin.bruns@feuerwehr-wietmarschen.de",
        "toEmail": "benjamin.bruns@feuerwehr-wietmarschen.de",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "send_email",
      "name": "E-Mail senden",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1120,
        208
      ],
      "credentials": {
        "smtp": {
          "id": "WODz1zMPZi3WItkA",
          "name": "SMTP account"
        }
      }
    }
  ],
  "connections": {
    "Montags 08:00 Uhr": {
      "main": [
        [
          {
            "node": "PostgREST: Ausrüstung nahe Lebensende",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgREST: Ausrüstung nahe Lebensende": {
      "main": [
        [
          {
            "node": "Einträge vorhanden?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Einträge vorhanden?": {
      "main": [
        [
          {
            "node": "E-Mail Text erstellen",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "E-Mail Text erstellen": {
      "main": [
        [
          {
            "node": "E-Mail senden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Montags 08:00 Uhr": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "17da1f44-84c1-4478-8061-096d1ee3cb09",
  "activeVersionId": "17da1f44-84c1-4478-8061-096d1ee3cb09",
  "versionCounter": 23,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-20T20:19:31.131Z",
      "createdAt": "2026-02-20T20:19:31.131Z",
      "role": "workflow:owner",
      "workflowId": "VBFv9Vg4F5dZwmqI",
      "projectId": "viwO0kwkZrPZoBTS",
      "project": {
        "updatedAt": "2025-07-21T14:22:06.251Z",
        "createdAt": "2025-07-21T13:41:35.644Z",
        "id": "viwO0kwkZrPZoBTS",
        "name": "Benjamin Bruns <brunsben@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "66a4add3-c9f0-4325-be74-03a9d867281f",
        "projectRelations": [
          {
            "updatedAt": "2025-07-21T13:41:35.645Z",
            "createdAt": "2025-07-21T13:41:35.645Z",
            "userId": "66a4add3-c9f0-4325-be74-03a9d867281f",
            "projectId": "viwO0kwkZrPZoBTS",
            "user": {
              "updatedAt": "2026-03-27T08:10:16.000Z",
              "createdAt": "2025-07-21T13:41:35.391Z",
              "id": "66a4add3-c9f0-4325-be74-03a9d867281f",
              "email": "brunsben@gmail.com",
              "firstName": "Benjamin",
              "lastName": "Bruns",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-07-21T14:22:13.098Z",
                "personalization_survey_n8n_version": "1.103.1",
                "companyType": "personal",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "mMpEy8pu6OpUsHVU",
                "userActivatedAt": 1753134014106,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1771619236876
                },
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-27T18:47:18.207Z",
    "createdAt": "2026-03-27T18:47:18.207Z",
    "versionId": "17da1f44-84c1-4478-8061-096d1ee3cb09",
    "workflowId": "VBFv9Vg4F5dZwmqI",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "weeks",
                "triggerAtDay": [
                  1
                ],
                "triggerAtHour": 8
              }
            ]
          }
        },
        "id": "trigger",
        "name": "Montags 08:00 Uhr",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          240,
          304
        ]
      },
      {
        "parameters": {
          "url": "https://portal.ofwietmarschen.org/n8n/ddb8e2802f6f8fb9382a5e2fb01f48a6654e1eb33279792aee2c242160fd66e7/postgrest/Ausruestungstuecke",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "Lebensende_Datum",
                "value": "lt.{{ $now.plus(180, 'days').toISODate() }}"
              },
              {
                "name": "Status",
                "value": "neq.Ausgesondert"
              },
              {
                "name": "select",
                "value": "Kamerad,Ausruestungstyp,Seriennummer,Herstellungsdatum,Lebensende_Datum,Status"
              }
            ]
          },
          "options": {}
        },
        "id": "fetch_old",
        "name": "PostgREST: Ausrüstung nahe Lebensende",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          464,
          304
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "has_items",
                "leftValue": "={{ $json.length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "check_results",
        "name": "Einträge vorhanden?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          688,
          304
        ]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.first().json;\nconst heute = new Date();\n\nlet zeilen = items.map(item => {\n  const ablauf = new Date(item.Lebensende_Datum);\n  const tage = Math.ceil((ablauf - heute) / (1000 * 60 * 60 * 24));\n  const ablaufStr = ablauf.toLocaleDateString('de-DE');\n  const warnLevel = tage <= 0 ? '🔴 UEBERFAELLIG' : tage <= 30 ? '🟠 DRINGEND' : '🟡 IN KUERZE';\n  const ort = item.Kamerad ? 'Ausgegeben an: ' + item.Kamerad : 'Im Lager';\n  return warnLevel + ' ' + item.Ausruestungstyp + ' (SN: ' + item.Seriennummer + ')\\n  '\n    + ort + ' - Lebensende: ' + ablaufStr + ' ('\n    + (tage > 0 ? 'in ' + tage + ' Tagen' : Math.abs(tage) + ' Tage ueberfaellig') + ')';\n}).join('\\n\\n');\n\nconst datum = heute.toLocaleDateString('de-DE');\n\nreturn [{\n  json: {\n    subject: '[Ihre Feuerwehr] PSA Lebensende - ' + items.length + ' Stueck zur Aussonderung',\n    html: '<h2>PSA naehert sich dem Lebensende</h2>'\n      + '<p>Folgende Ausruestungsstuecke erreichen in den naechsten 6 Monaten ihr Lebensende und muessen ausgesondert werden:</p>'\n      + '<pre>' + zeilen + '</pre>'\n      + '<p>Bitte Ersatzbeschaffung einleiten und Ausruestung in der PSA-Verwaltung als &quot;Ausgesondert&quot; markieren.</p>'\n      + '<p><b>Rechtsgrundlage:</b> §11 DGUV Vorschrift 49 - Feuerwehren</p>'\n      + '<p><a href=\"https://IHRE-PSA-URL\">PSA-Verwaltung oeffnen</a></p>'\n      + '<p><small>Stand: ' + datum + ' | FF Musterort - Bekleidungsverwaltung</small></p>'\n  }\n}];"
        },
        "id": "format_email",
        "name": "E-Mail Text erstellen",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          912,
          208
        ]
      },
      {
        "parameters": {
          "fromEmail": "benjamin.bruns@feuerwehr-wietmarschen.de",
          "toEmail": "benjamin.bruns@feuerwehr-wietmarschen.de",
          "subject": "={{ $json.subject }}",
          "html": "={{ $json.html }}",
          "options": {}
        },
        "id": "send_email",
        "name": "E-Mail senden",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          1120,
          208
        ],
        "credentials": {
          "smtp": {
            "id": "WODz1zMPZi3WItkA",
            "name": "SMTP account"
          }
        }
      }
    ],
    "connections": {
      "Montags 08:00 Uhr": {
        "main": [
          [
            {
              "node": "PostgREST: Ausrüstung nahe Lebensende",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PostgREST: Ausrüstung nahe Lebensende": {
        "main": [
          [
            {
              "node": "Einträge vorhanden?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Einträge vorhanden?": {
        "main": [
          [
            {
              "node": "E-Mail Text erstellen",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "E-Mail Text erstellen": {
        "main": [
          [
            {
              "node": "E-Mail senden",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Benjamin Bruns",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-27T18:47:18.252Z",
        "id": 49,
        "workflowId": "VBFv9Vg4F5dZwmqI",
        "versionId": "17da1f44-84c1-4478-8061-096d1ee3cb09",
        "event": "activated",
        "userId": "66a4add3-c9f0-4325-be74-03a9d867281f"
      }
    ]
  }
}