workflows/psa-waeschlimit-reminder.json
{
    "updatedAt": "2026-03-03T13:53:33.729Z",
    "createdAt": "2026-02-25T18:07:55.055Z",
    "id": "iNblp4tnPG4BHSna",
    "name": "PSA: W\u00e4schlimit-Reminder (w\u00f6chentlich)",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "weeks",
                            "triggerAtDay": [
                                1
                            ],
                            "triggerAtHour": 7
                        }
                    ]
                }
            },
            "id": "wl-schedule",
            "name": "Montag 07:00 Uhr",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                208,
                304
            ]
        },
        {
            "parameters": {
                "url": "http://10.10.1.238:8182/api/Ausruestungstuecke",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "limit",
                            "value": "500"
                        }
                    ]
                },
                "options": {}
            },
            "id": "wl-http-stuecke",
            "name": "PostgREST: Ausr\u00fcstungsst\u00fccke laden",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                432,
                304
            ]
        },
        {
            "parameters": {
                "url": "http://10.10.1.238:8182/api/Ausruestungstypen",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "limit",
                            "value": "200"
                        }
                    ]
                },
                "options": {}
            },
            "id": "wl-http-typen",
            "name": "PostgREST: Ausr\u00fcstungstypen laden",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                640,
                304
            ]
        },
        {
            "parameters": {
                "url": "http://10.10.1.238:8182/api/Waesche",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "limit",
                            "value": "5000"
                        }
                    ]
                },
                "options": {}
            },
            "id": "wl-http-waesche",
            "name": "PostgREST: W\u00e4sche laden",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                864,
                304
            ]
        },
        {
            "parameters": {
                "jsCode": "const stuecke = $('PostgREST: Ausr\u00fcstungsst\u00fccke laden').first().json;\nconst typen = $('PostgREST: Ausr\u00fcstungstypen laden').first().json;\nconst waescheList = $input.first().json;\n\nconst maxMap = {};\nfor (const t of typen) {\n  if (t.Bezeichnung && t.Max_Waeschen) maxMap[t.Bezeichnung] = t.Max_Waeschen;\n}\n\nconst countMap = {};\nfor (const w of waescheList) {\n  const id = w.Ausruestungstueck_Id;\n  if (id) countMap[id] = (countMap[id] || 0) + 1;\n}\n\nconst THRESHOLD = 0.9;\nconst items = stuecke\n  .filter(a => {\n    const max = maxMap[a.Ausruestungstyp];\n    if (!max) return false;\n    const count = countMap[a.Id] || 0;\n    return count >= max * THRESHOLD;\n  })\n  .map(a => {\n    const max = maxMap[a.Ausruestungstyp];\n    const count = countMap[a.Id] || 0;\n    const pct = Math.round(count / max * 100);\n    return { ...a, _count: count, _max: max, _pct: pct };\n  })\n  .sort((a, b) => b._pct - a._pct);\n\nif (items.length === 0) {\n  return [{ json: { anzahl: 0, betreff: '', html: '' } }];\n}\n\nconst atLimit = items.filter(a => a._pct >= 100).length;\nconst betreff = atLimit > 0\n  ? 'PSA: ' + atLimit + ' Stueck Waeschlimit erreicht + ' + (items.length - atLimit) + ' naehern sich dem Limit'\n  : 'PSA: ' + items.length + ' Stueck naehern sich dem Waeschlimit (>=90%)';\n\nconst rows = items.map(a => {\n  const color = a._pct >= 100 ? '#ef4444' : '#f97316';\n  return '<tr>'\n    + '<td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">' + (a.Seriennummer || '-') + '</td>'\n    + '<td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">' + (a.Ausruestungstyp || '-') + '</td>'\n    + '<td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">' + (a.Kamerad || '-') + '</td>'\n    + '<td style=\"padding:8px;border-bottom:1px solid #e5e7eb;color:' + color + ';font-weight:600\">' + a._count + ' / ' + a._max + ' (' + a._pct + '%)</td>'\n    + '</tr>';\n}).join('');\n\nconst html = '<html><body style=\"font-family:sans-serif;max-width:600px;margin:0 auto;padding:20px;color:#111827\">'\n  + '<h2 style=\"margin-top:0;color:#1e3a5f\">PSA-Waeschlimit-Reminder</h2>'\n  + '<p>Folgende Ausruestungsstuecke haben 90% oder mehr ihrer maximalen Waesche-Zyklen erreicht:</p>'\n  + '<table style=\"width:100%;border-collapse:collapse;font-size:14px\">'\n  + '<thead><tr style=\"background:#f3f4f6;text-align:left\">'\n  + '<th style=\"padding:8px\">Seriennummer</th>'\n  + '<th style=\"padding:8px\">Typ</th>'\n  + '<th style=\"padding:8px\">Kamerad</th>'\n  + '<th style=\"padding:8px\">Waeschen</th>'\n  + '</tr></thead>'\n  + '<tbody>' + rows + '</tbody>'\n  + '</table>'\n  + '<p style=\"margin-top:24px;font-size:12px;color:#6b7280\">Dieser Reminder wird automatisch jeden Montag versandt.<br>'\n  + '<a href=\"https://IHRE-PSA-URL\" style=\"color:#3b82f6\">PSA-Verwaltung oeffnen</a></p>'\n  + '</body></html>';\n\nreturn [{ json: { anzahl: items.length, betreff, html } }];"
            },
            "id": "wl-code",
            "name": "Limit-\u00dcberschreitung pr\u00fcfen & E-Mail aufbauen",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1088,
                304
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "cond-anzahl",
                            "leftValue": "={{ $json.anzahl }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "gt"
                            }
                        }
                    ]
                },
                "options": {}
            },
            "id": "wl-if",
            "name": "Hat Limit-\u00dcberschreitungen?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                1312,
                304
            ]
        },
        {
            "parameters": {
                "fromEmail": "absender@ihre-feuerwehr.de",
                "toEmail": "empfaenger@ihre-feuerwehr.de",
                "subject": "={{ $json.betreff }}",
                "html": "={{ $json.html }}",
                "options": {}
            },
            "id": "wl-email",
            "name": "W\u00e4schlimit-Reminder senden",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2.1,
            "position": [
                1520,
                224
            ],
            "credentials": {
                "smtp": {
                    "id": "WODz1zMPZi3WItkA",
                    "name": "SMTP account"
                }
            }
        }
    ],
    "connections": {
        "Montag 07:00 Uhr": {
            "main": [
                [
                    {
                        "node": "PostgREST: Ausr\u00fcstungsst\u00fccke laden",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "PostgREST: Ausr\u00fcstungsst\u00fccke laden": {
            "main": [
                [
                    {
                        "node": "PostgREST: Ausr\u00fcstungstypen laden",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "PostgREST: Ausr\u00fcstungstypen laden": {
            "main": [
                [
                    {
                        "node": "PostgREST: W\u00e4sche laden",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "PostgREST: W\u00e4sche laden": {
            "main": [
                [
                    {
                        "node": "Limit-\u00dcberschreitung pr\u00fcfen & E-Mail aufbauen",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Limit-\u00dcberschreitung pr\u00fcfen & E-Mail aufbauen": {
            "main": [
                [
                    {
                        "node": "Hat Limit-\u00dcberschreitungen?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Hat Limit-\u00dcberschreitungen?": {
            "main": [
                [
                    {
                        "node": "W\u00e4schlimit-Reminder senden",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": {
        "node:Montag 07:00 Uhr": {
            "recurrenceRules": []
        }
    },
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "2985b581-c0c8-4858-b4bc-2dc0365b878a",
    "activeVersionId": "2985b581-c0c8-4858-b4bc-2dc0365b878a",
    "versionCounter": 12,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-02-25T18:07:55.059Z",
            "createdAt": "2026-02-25T18:07:55.059Z",
            "role": "workflow:owner",
            "workflowId": "iNblp4tnPG4BHSna",
            "projectId": "viwO0kwkZrPZoBTS",
            "project": {
                "updatedAt": "2025-07-21T14:22:06.251Z",
                "createdAt": "2025-07-21T13:41:35.644Z",
                "id": "viwO0kwkZrPZoBTS",
                "name": "Benjamin Bruns <brunsben@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "66a4add3-c9f0-4325-be74-03a9d867281f",
                "projectRelations": [
                    {
                        "updatedAt": "2025-07-21T13:41:35.645Z",
                        "createdAt": "2025-07-21T13:41:35.645Z",
                        "userId": "66a4add3-c9f0-4325-be74-03a9d867281f",
                        "projectId": "viwO0kwkZrPZoBTS",
                        "user": {
                            "updatedAt": "2026-03-03T23:25:57.000Z",
                            "createdAt": "2025-07-21T13:41:35.391Z",
                            "id": "66a4add3-c9f0-4325-be74-03a9d867281f",
                            "email": "brunsben@gmail.com",
                            "firstName": "Benjamin",
                            "lastName": "Bruns",
                            "personalizationAnswers": {
                                "version": "v4",
                                "personalization_survey_submitted_at": "2025-07-21T14:22:13.098Z",
                                "personalization_survey_n8n_version": "1.103.1",
                                "companyType": "personal",
                                "reportedSource": "google"
                            },
                            "settings": {
                                "userActivated": true,
                                "easyAIWorkflowOnboarded": true,
                                "firstSuccessfulWorkflowId": "mMpEy8pu6OpUsHVU",
                                "userActivatedAt": 1753134014106,
                                "npsSurvey": {
                                    "responded": true,
                                    "lastShownAt": 1771619236876
                                },
                                "dismissedCallouts": {
                                    "preBuiltAgentsModalCallout": true
                                }
                            },
                            "disabled": false,
                            "mfaEnabled": false,
                            "lastActiveAt": "2026-03-03",
                            "isPending": false
                        }
                    }
                ]
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-03-03T13:53:33.730Z",
        "createdAt": "2026-03-03T13:53:33.730Z",
        "versionId": "2985b581-c0c8-4858-b4bc-2dc0365b878a",
        "workflowId": "iNblp4tnPG4BHSna",
        "nodes": [
            {
                "parameters": {
                    "rule": {
                        "interval": [
                            {
                                "field": "weeks",
                                "triggerAtDay": [
                                    1
                                ],
                                "triggerAtHour": 7
                            }
                        ]
                    }
                },
                "id": "wl-schedule",
                "name": "Montag 07:00 Uhr",
                "type": "n8n-nodes-base.scheduleTrigger",
                "typeVersion": 1.2,
                "position": [
                    208,
                    304
                ]
            },
            {
                "parameters": {
                    "url": "http://10.10.1.238:8182/api/Ausruestungstuecke",
                    "sendQuery": true,
                    "queryParameters": {
                        "parameters": [
                            {
                                "name": "limit",
                                "value": "500"
                            }
                        ]
                    },
                    "options": {}
                },
                "id": "wl-http-stuecke",
                "name": "PostgREST: Ausr\u00fcstungsst\u00fccke laden",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    432,
                    304
                ]
            },
            {
                "parameters": {
                    "url": "http://10.10.1.238:8182/api/Ausruestungstypen",
                    "sendQuery": true,
                    "queryParameters": {
                        "parameters": [
                            {
                                "name": "limit",
                                "value": "200"
                            }
                        ]
                    },
                    "options": {}
                },
                "id": "wl-http-typen",
                "name": "PostgREST: Ausr\u00fcstungstypen laden",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    640,
                    304
                ]
            },
            {
                "parameters": {
                    "url": "http://10.10.1.238:8182/api/Waesche",
                    "sendQuery": true,
                    "queryParameters": {
                        "parameters": [
                            {
                                "name": "limit",
                                "value": "5000"
                            }
                        ]
                    },
                    "options": {}
                },
                "id": "wl-http-waesche",
                "name": "PostgREST: W\u00e4sche laden",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    864,
                    304
                ]
            },
            {
                "parameters": {
                    "jsCode": "const stuecke = $('PostgREST: Ausr\u00fcstungsst\u00fccke laden').first().json;\nconst typen = $('PostgREST: Ausr\u00fcstungstypen laden').first().json;\nconst waescheList = $input.first().json;\n\nconst maxMap = {};\nfor (const t of typen) {\n  if (t.Bezeichnung && t.Max_Waeschen) maxMap[t.Bezeichnung] = t.Max_Waeschen;\n}\n\nconst countMap = {};\nfor (const w of waescheList) {\n  const id = w.Ausruestungstueck_Id;\n  if (id) countMap[id] = (countMap[id] || 0) + 1;\n}\n\nconst THRESHOLD = 0.9;\nconst items = stuecke\n  .filter(a => {\n    const max = maxMap[a.Ausruestungstyp];\n    if (!max) return false;\n    const count = countMap[a.Id] || 0;\n    return count >= max * THRESHOLD;\n  })\n  .map(a => {\n    const max = maxMap[a.Ausruestungstyp];\n    const count = countMap[a.Id] || 0;\n    const pct = Math.round(count / max * 100);\n    return { ...a, _count: count, _max: max, _pct: pct };\n  })\n  .sort((a, b) => b._pct - a._pct);\n\nif (items.length === 0) {\n  return [{ json: { anzahl: 0, betreff: '', html: '' } }];\n}\n\nconst atLimit = items.filter(a => a._pct >= 100).length;\nconst betreff = atLimit > 0\n  ? 'PSA: ' + atLimit + ' Stueck Waeschlimit erreicht + ' + (items.length - atLimit) + ' naehern sich dem Limit'\n  : 'PSA: ' + items.length + ' Stueck naehern sich dem Waeschlimit (>=90%)';\n\nconst rows = items.map(a => {\n  const color = a._pct >= 100 ? '#ef4444' : '#f97316';\n  return '<tr>'\n    + '<td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">' + (a.Seriennummer || '-') + '</td>'\n    + '<td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">' + (a.Ausruestungstyp || '-') + '</td>'\n    + '<td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">' + (a.Kamerad || '-') + '</td>'\n    + '<td style=\"padding:8px;border-bottom:1px solid #e5e7eb;color:' + color + ';font-weight:600\">' + a._count + ' / ' + a._max + ' (' + a._pct + '%)</td>'\n    + '</tr>';\n}).join('');\n\nconst html = '<html><body style=\"font-family:sans-serif;max-width:600px;margin:0 auto;padding:20px;color:#111827\">'\n  + '<h2 style=\"margin-top:0;color:#1e3a5f\">PSA-Waeschlimit-Reminder</h2>'\n  + '<p>Folgende Ausruestungsstuecke haben 90% oder mehr ihrer maximalen Waesche-Zyklen erreicht:</p>'\n  + '<table style=\"width:100%;border-collapse:collapse;font-size:14px\">'\n  + '<thead><tr style=\"background:#f3f4f6;text-align:left\">'\n  + '<th style=\"padding:8px\">Seriennummer</th>'\n  + '<th style=\"padding:8px\">Typ</th>'\n  + '<th style=\"padding:8px\">Kamerad</th>'\n  + '<th style=\"padding:8px\">Waeschen</th>'\n  + '</tr></thead>'\n  + '<tbody>' + rows + '</tbody>'\n  + '</table>'\n  + '<p style=\"margin-top:24px;font-size:12px;color:#6b7280\">Dieser Reminder wird automatisch jeden Montag versandt.<br>'\n  + '<a href=\"https://IHRE-PSA-URL\" style=\"color:#3b82f6\">PSA-Verwaltung oeffnen</a></p>'\n  + '</body></html>';\n\nreturn [{ json: { anzahl: items.length, betreff, html } }];"
                },
                "id": "wl-code",
                "name": "Limit-\u00dcberschreitung pr\u00fcfen & E-Mail aufbauen",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1088,
                    304
                ]
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "leftValue": "",
                            "typeValidation": "strict",
                            "version": 2
                        },
                        "combinator": "and",
                        "conditions": [
                            {
                                "id": "cond-anzahl",
                                "leftValue": "={{ $json.anzahl }}",
                                "rightValue": 0,
                                "operator": {
                                    "type": "number",
                                    "operation": "gt"
                                }
                            }
                        ]
                    },
                    "options": {}
                },
                "id": "wl-if",
                "name": "Hat Limit-\u00dcberschreitungen?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2.2,
                "position": [
                    1312,
                    304
                ]
            },
            {
                "parameters": {
                    "fromEmail": "absender@ihre-feuerwehr.de",
                    "toEmail": "empfaenger@ihre-feuerwehr.de",
                    "subject": "={{ $json.betreff }}",
                    "html": "={{ $json.html }}",
                    "options": {}
                },
                "id": "wl-email",
                "name": "W\u00e4schlimit-Reminder senden",
                "type": "n8n-nodes-base.emailSend",
                "typeVersion": 2.1,
                "position": [
                    1520,
                    224
                ],
                "credentials": {
                    "smtp": {
                        "id": "WODz1zMPZi3WItkA",
                        "name": "SMTP account"
                    }
                }
            }
        ],
        "connections": {
            "Montag 07:00 Uhr": {
                "main": [
                    [
                        {
                            "node": "PostgREST: Ausr\u00fcstungsst\u00fccke laden",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "PostgREST: Ausr\u00fcstungsst\u00fccke laden": {
                "main": [
                    [
                        {
                            "node": "PostgREST: Ausr\u00fcstungstypen laden",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "PostgREST: Ausr\u00fcstungstypen laden": {
                "main": [
                    [
                        {
                            "node": "PostgREST: W\u00e4sche laden",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "PostgREST: W\u00e4sche laden": {
                "main": [
                    [
                        {
                            "node": "Limit-\u00dcberschreitung pr\u00fcfen & E-Mail aufbauen",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Limit-\u00dcberschreitung pr\u00fcfen & E-Mail aufbauen": {
                "main": [
                    [
                        {
                            "node": "Hat Limit-\u00dcberschreitungen?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Hat Limit-\u00dcberschreitungen?": {
                "main": [
                    [
                        {
                            "node": "W\u00e4schlimit-Reminder senden",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    []
                ]
            }
        },
        "authors": "Benjamin Bruns",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-03-03T13:53:33.784Z",
                "id": 29,
                "workflowId": "iNblp4tnPG4BHSna",
                "versionId": "2985b581-c0c8-4858-b4bc-2dc0365b878a",
                "event": "activated",
                "userId": "66a4add3-c9f0-4325-be74-03a9d867281f"
            }
        ]
    }
}
