workflows/psa-pruefungs-reminder-woechentlich.json
{
  "updatedAt": "2026-03-27T18:47:18.520Z",
  "createdAt": "2026-02-25T17:59:58.757Z",
  "id": "bCkD55OsoZh0oBA7",
  "name": "PSA: Prüfungs-Reminder (wöchentlich)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "node-schedule",
      "name": "Montag 07:00 Uhr",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        208,
        304
      ]
    },
    {
      "parameters": {
        "url": "https://portal.ofwietmarschen.org/n8n/ddb8e2802f6f8fb9382a5e2fb01f48a6654e1eb33279792aee2c242160fd66e7/postgrest/Ausruestungstuecke",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "500"
            }
          ]
        },
        "options": {}
      },
      "id": "node-http",
      "name": "PostgREST: Ausrüstungsstücke laden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\nconst horizon = new Date(today);\nhorizon.setDate(horizon.getDate() + 30);\n\nfunction tagFor(dateStr) {\n  const d = new Date(dateStr);\n  const diff = Math.round((d - today) / 86400000);\n  if (diff < 0) return { days: diff, cls: 'red' };\n  if (diff <= 7) return { days: diff, cls: 'orange' };\n  return { days: diff, cls: 'yellow' };\n}\n\nconst faellig = items\n  .filter(a => {\n    if (!a.Naechste_Pruefung) return false;\n    const d = new Date(a.Naechste_Pruefung);\n    return d <= horizon;\n  })\n  .map(a => ({ ...a, _tag: tagFor(a.Naechste_Pruefung) }))\n  .sort((a, b) => a._tag.days - b._tag.days);\n\nif (faellig.length === 0) {\n  return [{ json: { anzahl: 0, betreff: '', html: '' } }];\n}\n\nconst colors = { red: '#ef4444', orange: '#f97316', yellow: '#eab308' };\n\nconst rows = faellig.map(a => {\n  const color = colors[a._tag.cls];\n  const days = a._tag.days;\n  const dayLabel = days < 0\n    ? (Math.abs(days) === 1 ? '1 Tag ueberfaellig' : Math.abs(days) + ' Tage ueberfaellig')\n    : days === 0 ? 'Heute faellig' : ('in ' + days + (days === 1 ? ' Tag' : ' Tagen'));\n  return '<tr>'\n    + '<td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">' + (a.Seriennummer || '-') + '</td>'\n    + '<td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">' + (a.Ausruestungstyp || '-') + '</td>'\n    + '<td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">' + (a.Kamerad || '-') + '</td>'\n    + '<td style=\"padding:8px;border-bottom:1px solid #e5e7eb;color:' + color + ';font-weight:600\">' + dayLabel + '</td>'\n    + '</tr>';\n}).join('');\n\nconst ueberfaellig = faellig.filter(a => a._tag.days < 0).length;\nconst rest = faellig.length - ueberfaellig;\n\nconst betreff = ueberfaellig > 0\n  ? 'PSA: ' + ueberfaellig + ' ueberfaellige + ' + rest + ' bald faellige Pruefungen'\n  : 'PSA: ' + faellig.length + ' Pruefung' + (faellig.length > 1 ? 'en' : '') + ' in den naechsten 30 Tagen';\n\nconst html = '<html><body style=\"font-family:sans-serif;max-width:600px;margin:0 auto;padding:20px;color:#111827\">'\n  + '<h2 style=\"margin-top:0;color:#1e3a5f\">PSA-Pruefungs-Reminder</h2>'\n  + '<p>Folgende Ausruestungsstuecke haben in den naechsten 30 Tagen eine faellige oder ueberfaellige Pruefung:</p>'\n  + '<table style=\"width:100%;border-collapse:collapse;font-size:14px\">'\n  + '<thead><tr style=\"background:#f3f4f6;text-align:left\">'\n  + '<th style=\"padding:8px\">Seriennummer</th>'\n  + '<th style=\"padding:8px\">Typ</th>'\n  + '<th style=\"padding:8px\">Kamerad</th>'\n  + '<th style=\"padding:8px\">Faelligkeit</th>'\n  + '</tr></thead>'\n  + '<tbody>' + rows + '</tbody>'\n  + '</table>'\n  + '<p style=\"margin-top:24px;font-size:12px;color:#6b7280\">Dieser Reminder wird automatisch jeden Montag versandt.<br>'\n  + '<a href=\"https://IHRE-PSA-URL\" style=\"color:#3b82f6\">PSA-Verwaltung oeffnen</a></p>'\n  + '</body></html>';\n\nreturn [{ json: { anzahl: faellig.length, betreff, html } }];"
      },
      "id": "node-code",
      "name": "Fällige filtern & E-Mail aufbauen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-anzahl",
              "leftValue": "={{ $json.anzahl }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "node-if",
      "name": "Hat fällige Prüfungen?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        864,
        304
      ]
    },
    {
      "parameters": {
        "fromEmail": "benjamin.bruns@feuerwehr-wietmarschen.de",
        "toEmail": "benjamin.bruns@feuerwehr-wietmarschen.de",
        "subject": "={{ $json.betreff }}",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "node-email",
      "name": "Reminder per E-Mail senden",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1088,
        224
      ],
      "credentials": {
        "smtp": {
          "id": "WODz1zMPZi3WItkA",
          "name": "SMTP account"
        }
      }
    }
  ],
  "connections": {
    "Montag 07:00 Uhr": {
      "main": [
        [
          {
            "node": "PostgREST: Ausrüstungsstücke laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgREST: Ausrüstungsstücke laden": {
      "main": [
        [
          {
            "node": "Fällige filtern & E-Mail aufbauen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fällige filtern & E-Mail aufbauen": {
      "main": [
        [
          {
            "node": "Hat fällige Prüfungen?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hat fällige Prüfungen?": {
      "main": [
        [
          {
            "node": "Reminder per E-Mail senden",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Montag 07:00 Uhr": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "eb71e1b3-e401-46ff-8708-99c15f9f2cf2",
  "activeVersionId": "eb71e1b3-e401-46ff-8708-99c15f9f2cf2",
  "versionCounter": 33,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-25T17:59:58.762Z",
      "createdAt": "2026-02-25T17:59:58.762Z",
      "role": "workflow:owner",
      "workflowId": "bCkD55OsoZh0oBA7",
      "projectId": "viwO0kwkZrPZoBTS",
      "project": {
        "updatedAt": "2025-07-21T14:22:06.251Z",
        "createdAt": "2025-07-21T13:41:35.644Z",
        "id": "viwO0kwkZrPZoBTS",
        "name": "Benjamin Bruns <brunsben@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "66a4add3-c9f0-4325-be74-03a9d867281f",
        "projectRelations": [
          {
            "updatedAt": "2025-07-21T13:41:35.645Z",
            "createdAt": "2025-07-21T13:41:35.645Z",
            "userId": "66a4add3-c9f0-4325-be74-03a9d867281f",
            "projectId": "viwO0kwkZrPZoBTS",
            "user": {
              "updatedAt": "2026-03-27T08:10:16.000Z",
              "createdAt": "2025-07-21T13:41:35.391Z",
              "id": "66a4add3-c9f0-4325-be74-03a9d867281f",
              "email": "brunsben@gmail.com",
              "firstName": "Benjamin",
              "lastName": "Bruns",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-07-21T14:22:13.098Z",
                "personalization_survey_n8n_version": "1.103.1",
                "companyType": "personal",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "mMpEy8pu6OpUsHVU",
                "userActivatedAt": 1753134014106,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1771619236876
                },
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-27T18:47:18.522Z",
    "createdAt": "2026-03-27T18:47:18.522Z",
    "versionId": "eb71e1b3-e401-46ff-8708-99c15f9f2cf2",
    "workflowId": "bCkD55OsoZh0oBA7",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "weeks",
                "triggerAtDay": [
                  1
                ],
                "triggerAtHour": 7
              }
            ]
          }
        },
        "id": "node-schedule",
        "name": "Montag 07:00 Uhr",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          208,
          304
        ]
      },
      {
        "parameters": {
          "url": "https://portal.ofwietmarschen.org/n8n/ddb8e2802f6f8fb9382a5e2fb01f48a6654e1eb33279792aee2c242160fd66e7/postgrest/Ausruestungstuecke",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "limit",
                "value": "500"
              }
            ]
          },
          "options": {}
        },
        "id": "node-http",
        "name": "PostgREST: Ausrüstungsstücke laden",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          432,
          304
        ]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all().map(i => i.json);\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\nconst horizon = new Date(today);\nhorizon.setDate(horizon.getDate() + 30);\n\nfunction tagFor(dateStr) {\n  const d = new Date(dateStr);\n  const diff = Math.round((d - today) / 86400000);\n  if (diff < 0) return { days: diff, cls: 'red' };\n  if (diff <= 7) return { days: diff, cls: 'orange' };\n  return { days: diff, cls: 'yellow' };\n}\n\nconst faellig = items\n  .filter(a => {\n    if (!a.Naechste_Pruefung) return false;\n    const d = new Date(a.Naechste_Pruefung);\n    return d <= horizon;\n  })\n  .map(a => ({ ...a, _tag: tagFor(a.Naechste_Pruefung) }))\n  .sort((a, b) => a._tag.days - b._tag.days);\n\nif (faellig.length === 0) {\n  return [{ json: { anzahl: 0, betreff: '', html: '' } }];\n}\n\nconst colors = { red: '#ef4444', orange: '#f97316', yellow: '#eab308' };\n\nconst rows = faellig.map(a => {\n  const color = colors[a._tag.cls];\n  const days = a._tag.days;\n  const dayLabel = days < 0\n    ? (Math.abs(days) === 1 ? '1 Tag ueberfaellig' : Math.abs(days) + ' Tage ueberfaellig')\n    : days === 0 ? 'Heute faellig' : ('in ' + days + (days === 1 ? ' Tag' : ' Tagen'));\n  return '<tr>'\n    + '<td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">' + (a.Seriennummer || '-') + '</td>'\n    + '<td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">' + (a.Ausruestungstyp || '-') + '</td>'\n    + '<td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">' + (a.Kamerad || '-') + '</td>'\n    + '<td style=\"padding:8px;border-bottom:1px solid #e5e7eb;color:' + color + ';font-weight:600\">' + dayLabel + '</td>'\n    + '</tr>';\n}).join('');\n\nconst ueberfaellig = faellig.filter(a => a._tag.days < 0).length;\nconst rest = faellig.length - ueberfaellig;\n\nconst betreff = ueberfaellig > 0\n  ? 'PSA: ' + ueberfaellig + ' ueberfaellige + ' + rest + ' bald faellige Pruefungen'\n  : 'PSA: ' + faellig.length + ' Pruefung' + (faellig.length > 1 ? 'en' : '') + ' in den naechsten 30 Tagen';\n\nconst html = '<html><body style=\"font-family:sans-serif;max-width:600px;margin:0 auto;padding:20px;color:#111827\">'\n  + '<h2 style=\"margin-top:0;color:#1e3a5f\">PSA-Pruefungs-Reminder</h2>'\n  + '<p>Folgende Ausruestungsstuecke haben in den naechsten 30 Tagen eine faellige oder ueberfaellige Pruefung:</p>'\n  + '<table style=\"width:100%;border-collapse:collapse;font-size:14px\">'\n  + '<thead><tr style=\"background:#f3f4f6;text-align:left\">'\n  + '<th style=\"padding:8px\">Seriennummer</th>'\n  + '<th style=\"padding:8px\">Typ</th>'\n  + '<th style=\"padding:8px\">Kamerad</th>'\n  + '<th style=\"padding:8px\">Faelligkeit</th>'\n  + '</tr></thead>'\n  + '<tbody>' + rows + '</tbody>'\n  + '</table>'\n  + '<p style=\"margin-top:24px;font-size:12px;color:#6b7280\">Dieser Reminder wird automatisch jeden Montag versandt.<br>'\n  + '<a href=\"https://IHRE-PSA-URL\" style=\"color:#3b82f6\">PSA-Verwaltung oeffnen</a></p>'\n  + '</body></html>';\n\nreturn [{ json: { anzahl: faellig.length, betreff, html } }];"
        },
        "id": "node-code",
        "name": "Fällige filtern & E-Mail aufbauen",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          640,
          304
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "cond-anzahl",
                "leftValue": "={{ $json.anzahl }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "node-if",
        "name": "Hat fällige Prüfungen?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          864,
          304
        ]
      },
      {
        "parameters": {
          "fromEmail": "benjamin.bruns@feuerwehr-wietmarschen.de",
          "toEmail": "benjamin.bruns@feuerwehr-wietmarschen.de",
          "subject": "={{ $json.betreff }}",
          "html": "={{ $json.html }}",
          "options": {}
        },
        "id": "node-email",
        "name": "Reminder per E-Mail senden",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          1088,
          224
        ],
        "credentials": {
          "smtp": {
            "id": "WODz1zMPZi3WItkA",
            "name": "SMTP account"
          }
        }
      }
    ],
    "connections": {
      "Montag 07:00 Uhr": {
        "main": [
          [
            {
              "node": "PostgREST: Ausrüstungsstücke laden",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PostgREST: Ausrüstungsstücke laden": {
        "main": [
          [
            {
              "node": "Fällige filtern & E-Mail aufbauen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fällige filtern & E-Mail aufbauen": {
        "main": [
          [
            {
              "node": "Hat fällige Prüfungen?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Hat fällige Prüfungen?": {
        "main": [
          [
            {
              "node": "Reminder per E-Mail senden",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      }
    },
    "authors": "Benjamin Bruns",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-27T18:47:18.572Z",
        "id": 50,
        "workflowId": "bCkD55OsoZh0oBA7",
        "versionId": "eb71e1b3-e401-46ff-8708-99c15f9f2cf2",
        "event": "activated",
        "userId": "66a4add3-c9f0-4325-be74-03a9d867281f"
      }
    ]
  }
}